@page
@model articleModel
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
        <title>
        @Model.selectedArticle.title
        </title>
    </head>
    <body>
    <header class="top_bar">
        <a href="/Index" class="website_name">
            <span class="eu">ЕВРО</span><span class="news">НОВОСТИ</span>
        </a>
    </header>

    <h2 class="main_article_title">
        @Model.selectedArticle.title
    </h2>
    <div class="main_article_datee">
        @Model.selectedArticle.date
    </div>
    <div class="main_article_theme">
        @Model.selectedArticle.theme
    </div>
    <div class="main_article_text">
        @Html.Raw(Model.selectedArticle.text)
    </div>

    <div class="universal_button">
        <a href="/Index" class="universal_button_text"> назад</a>
    </div>
    </body>
</html>