@page
@model articleModel
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
        <title>
        @Model.selectedArticle.title
        </title>
    </head>
    <body>
    <h2 class="section_box_title">
        @Model.selectedArticle.title
    </h2>
    <div class="article_date">
        @Model.selectedArticle.date
    </div>
    <div class="article_theme">
        @Model.selectedArticle.theme
    </div>
    <p class="base_section_text">
        @Model.selectedArticle.text
    </p>

    <a href="/Index"> назад</a>
    </body>
</html>