@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Лента новостей</title>
</head>


<body>
    <header class="top_bar">
        <div class="website_name">
            <span class="eu">ЕВРО</span><span class="news">НОВОСТИ</span>
                
        </div>
        <ul class="login_bottom_box">
            <li> <a href="/Login">Login</a></li>
            <li> <a href="/Sign">Sign</a></li>
            <li> <a href="/AddArticle">Add Article</a></li>
        </ul>
    </header>
    <div class='container'>
        <div class='grid-layout'>
            <main>
                <h2 class="main_article_title">
                    @Model.Article.title
                </h2>
                <div class="main_article_date">
                    @Model.Article.date
                </div>
                <div class="main_article_theme">
                    @Model.Article.theme
                </div>

                <div class="main_article_text">
                    @Html.Raw(Model.Article.text)
                </div>
            
            </main>
             <aside class="sidebar">
                @foreach (var article in Model.sideArticles.Take(5))
                {
                    <div class="info-card">
                        <div class="side_date">
                            <p>@article.date</p>
                        </div>
                        <div class="side_theme">
                            <h3>@article.theme</h3>
                        </div>
                        <div class="side_title">
                            <h3>@article.title</h3>
                        </div>
                        <a href="/Article?id=@article.id">Читать дальше</a>
                    </div>
                }
            </aside>
        </div>
    </div>
    
</body>
</html>

