@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Лента новостей</title>
</head>


<body>
    <header class="top_bar">
        <a href="/Index" class="website_name">
            <span class="eu">ЕВРО</span><span class="news">НОВОСТИ</span>
        </a>

        <ul class="login_bottom_box">
            <li class="universal_button">
                <a href="/Login" class="universal_button_text">Sign in</a>
            </li>

            <li class="universal_button">
                <a href="/Sign" class="universal_button_text">Sign up</a>
            </li>

            <li class="universal_button">
                <a href="/AddArticle" class="universal_button_text">Add Article</a>
            </li>
        </ul>

        <button class="menu-button" onclick="toggleMenu()">☰</button>
    </header>

    <div id="menu" class="index_left_menu">

        <div class="index_left_menu_button">
            <a href="/OneTheme?category=Люди" class="index_left_menu_button_text">Люди</a>
        </div>
        <div class="index_left_menu_button">
            <a href="/OneTheme?category=Авто" class="index_left_menu_button_text">Авто</a>
        </div>
        <div class="index_left_menu_button">
            <a href="/OneTheme?category=Технологии" class="index_left_menu_button_text">Технологии</a>
        </div>
        <div class="index_left_menu_button">
            <a href="/OneTheme?category=Недвижимость" class="index_left_menu_button_text">Недвижимость</a>
        </div>
        
    </div>

    <script>
            function toggleMenu() {
                const sidebar = document.getElementById("menu");

                if (sidebar.style.display === "block") {
                    sidebar.style.display = "none";
                } else {
                    sidebar.style.display = "block";
                }
            }
    </script>

    <div class='container'>
        <div class='grid-layout'>
            <main>
                <h2 class="main_article_title">
                    @Model.Article.title
                </h2>
                <div class="main_article_date">
                    @Model.Article.date
                </div>
                <div class="main_article_theme">
                    @Model.Article.theme
                </div>

                <div class="main_article_text">
                    @Html.Raw(Model.Article.text)
                </div>
            
            </main>
             <aside class="sidebar">
                @foreach (var article in Model.sideArticles.Take(5))
                {
                    <div class="info-card">
                        <div class="side_date">
                            <p>@article.date</p>
                        </div>
                        <div class="side_theme">
                            <h3>@article.theme</h3>
                        </div>
                        <div class="side_title">
                            <h3>@article.title</h3>
                        </div>
                        <a href="/Article?id=@article.id">Читать дальше</a>
                    </div>
                }
            </aside>
        </div>
    </div>
    
</body>
</html>

