@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Лента новостей</title>
</head>

<header>
    <ul class="login_bottom_box">
            <li> <a href="/Login">Login</a></li>
            <li> <a href="/Sign">Sign</a></li>
            <li> <a href="/AddArticle">Add Article</a></li>
    </ul>
</header>
<body>
    <div class='container'>
        <div class='grid-layout'>
            <main>
                <h2 class="section_box_title">
                    @Model.Article.title
                </h2>
                <div class="article_date">
                    @Model.Article.date
                </div>
                <div class="article_date">
                    @Model.Article.theme
                </div>

                <p class="base_section_text">@Model.Article.text</p>
            
            </main>
            <aside class='sidebar'>
                <div class="info-card">
                    <p>@Model.sideArticles[0].date</p>
                    <h3>@Model.sideArticles[0].theme</h3>
                    <h3>@Model.sideArticles[0].title</h3>
                    <a href="/Article?id=@Model.sideArticles[0].id">Читать дальше</a>
                </div>

                <!-- Блок 2 -->
                <div class="info-card">
                    <p>@Model.sideArticles[1].date</p>
                    <h3>@Model.sideArticles[1].theme</h3>
                    <h3>@Model.sideArticles[1].title</h3>
                    <a href="/Article?id=@Model.sideArticles[0].id">Читать дальше</a>
                </div>

                <!-- Блок 3 -->
                <div class="info-card">
                    <p>@Model.sideArticles[2].date</p>
                    <h3>@Model.sideArticles[2].theme</h3>
                    <h3>@Model.sideArticles[2].title</h3>
                    <a href="/Article?id=@Model.sideArticles[0].id">Читать дальше</a>
                </div>

                <!-- Блок 4 -->
                <div class="info-card">
                    <p>@Model.sideArticles[3].date</p>
                    <h3>@Model.sideArticles[3].theme</h3>
                    <h3>@Model.sideArticles[3].title</h3>
                    <a href="/Article?id=@Model.sideArticles[0].id">Читать дальше</a>
                </div>

                <!-- Блок 5 -->
                <div class="info-card">
                    <p>@Model.sideArticles[4].date</p>
                    <h3>@Model.sideArticles[4].theme</h3>
                    <h3>@Model.sideArticles[4].title</h3>
                    <a href="/Article?id=@Model.sideArticles[0].id">Читать дальше</a>
                </div>
            </aside>
        </div>
    </div>
    
</body>
</html>

/*зубы*/