@page
@model OneCategoryNewsModel


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>
    </title>
</head>
<body>
    <header class="top_bar">
        <div class="website_name">
            <span class="eu">ЕВРО</span><span class="news">НОВОСТИ</span>
        </div>
    </header>

    <h2 class="news_category_name">Самые свежие новости в категории @OneCategoryNewsModel.NewsCategory</h2>

    <div class="one_category_main_block">

        <div class="one_category_left_column">
            <div class="small_block">
                @if (OneCategoryNewsModel.nineArticles[1] != null)
                {
                    <div class="one_category_article_in_big_block">
                        <p class="one_category_small_title">@OneCategoryNewsModel.nineArticles[1].title</p>
                        <p class="one_category_small_date">@OneCategoryNewsModel.nineArticles[1].date</p>
                    </div>
                    <div class="read_more_button">
                        <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[1].id class="universal_button_text">читать дальше</a>
                    </div>
                }
                else
                {
                    <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                }
            </div>

            <div class="small_block">
                @if (OneCategoryNewsModel.nineArticles[2] != null)
                {
                    <div class="one_category_article_in_big_block">
                        <p>@OneCategoryNewsModel.nineArticles[2].title</p>
                        <p>@OneCategoryNewsModel.nineArticles[2].date</p>
                    </div>
                    <div class="universal_button">
                        <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[2].id class="universal_button_text">читать дальше</a>
                    </div>
                }
                else
                {
                    <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                }
            </div>

            <div class="small_block">
                @if (OneCategoryNewsModel.nineArticles[3] != null)
                {
                    <div class="one_category_article_in_big_block">
                        <p>@OneCategoryNewsModel.nineArticles[3].title</p>
                        <p>@OneCategoryNewsModel.nineArticles[3].date</p>
                    </div>
                    <div class="universal_button">
                        <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[3].id class="universal_button_text">читать дальше</a>
                    </div>
                }
                else
                {
                    <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                }
            </div>
        </div>

        <div class="one_category_center_column">
            <div class="one_category_center_big_block">
                @if (OneCategoryNewsModel.nineArticles[0] != null)
                {
                    <div class="one_category_article_in_big_block">
                        <p>@OneCategoryNewsModel.nineArticles[0].title</p>
                        <p>@OneCategoryNewsModel.nineArticles[0].date</p>
                        <p>@Html.Raw(OneCategoryNewsModel.nineArticles[6].text)</p>
                    </div>
                    <div class="universal_button">
                        <a href="/Article?id="@OneCategoryNewsModel.nineArticles[0].id class="universal_button_text">читать дальше</a>
                    </div>
                }
                else
                {
                    <img src="images/workchatgpt.jpeg" class="workChatGPT"/>
                }

            </div>
            <div class="one_category_center_small_block">
                <div class="small_block">
                    @if (OneCategoryNewsModel.nineArticles[7] != null)
                    {
                        <div class="one_category_article_in_big_block">
                            <p>@OneCategoryNewsModel.nineArticles[7].title</p>
                            <p>@OneCategoryNewsModel.nineArticles[7].date</p>
                        </div>
                        <div class="universal_button">
                            <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[7].id class="universal_button_text">читать дальше</a>
                        </div>
                    }
                    else
                    {
                        <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                    }
                </div>
                <div class="small_block">
                    @if (OneCategoryNewsModel.nineArticles[8] != null)
                    {
                        <div class="one_category_article_in_big_block">
                            <p>@OneCategoryNewsModel.nineArticles[8].title</p>
                            <p>@OneCategoryNewsModel.nineArticles[8].date</p>
                        </div>
                        <div class="universal_button">
                            <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[8].id class="universal_button_text">читать дальше</a>
                        </div>
                    }
                    else
                    {
                        <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                    }
                </div>
            </div>
        </div>

        <div class="one_category_right_column">
            <div class="small_block">
                @if (OneCategoryNewsModel.nineArticles[4] != null)
                {
                    <div class="one_category_article_in_big_block">
                        <p>@OneCategoryNewsModel.nineArticles[4].title</p>
                        <p>@OneCategoryNewsModel.nineArticles[4].date</p>
                    </div>
                    <div class="universal_button">
                        <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[4].id class="universal_button_text">читать дальше</a>
                    </div>
                }
                else
                {
                    <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                }
            </div>

            <div class="small_block">
                @if (OneCategoryNewsModel.nineArticles[5] != null)
                {
                    <div class="one_category_article_in_big_block">
                        <p>@OneCategoryNewsModel.nineArticles[5].title</p>
                        <p>@OneCategoryNewsModel.nineArticles[5].date</p>
                    </div>
                    <div class="universal_button">
                        <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[5].id class="universal_button_text">читать дальше</a>
                    </div>
                }
                else
                {
                    <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                }
            </div>

            <div class="small_block">
                @if (OneCategoryNewsModel.nineArticles[6] != null)
                {
                    <div class="one_category_article_in_big_block">
                        <p>@OneCategoryNewsModel.nineArticles[6].title</p>
                        <p>@OneCategoryNewsModel.nineArticles[6].date</p>
                    </div>
                    <div class="universal_button">
                        <a href="/Article?id=" @OneCategoryNewsModel.nineArticles[6].id class="universal_button_text">читать дальше</a>
                    </div>
                }
                else
                {
                    <img src="images/workchatgpt.jpeg" class="workChatGPT" />
                }
            </div>
        </div>

    </div>

    <div class="universal_button">
        <a href="/Index" class="universal_button_text">Назад</a>
    </div>
</body>
</html>